
.minnav {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #333;
    ul {
        zoom: 1;
        padding-left: 38px;
        li {
            float: left;
            margin-left: 22px;
            padding: 0 19px;
            position: relative;
            &.curr{
                background-color: #4c4c4c;
            }
            a{
                color: #fff;
                font-size: 16px;
            }
            img{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    margin: 10px 0px 0px 53px;
            }
        }
    }
}